html{
	font-size:16px;
}
body{
	background: #eee;
}

/*------------------index page styles--------------*/
.banner {
	min-height: 100vh;
	min-width: 100%;
	position: relative;
	z-index: -1;
}
.banner #coding-video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
.banner .layer {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
	top:-10%;
}
.banner .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Open Sans' , sans-serif;
    font-size: 2rem;
    z-index: 999;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    display: block;
    width: 100%;
}
.banner .content p:last-child {
    color: #7fc000;
    font-weight: 500;
}


/*--------------------navbar styles------------------*/
.nav>li>a{
	padding:1.4rem 1.2rem;
}
.logo{
	position: relative;
	top:-10px;
}

/*--------------------contact page styles--------------*/
.contactpage .col-md-6:nth-child(1){
	background: #256;
	padding-top:10rem;
	padding-bottom:10rem;
}
.address{
	font-size:1.2rem;
	color:#fff;
	font-family: verdana;	
}
.address p{
	margin-bottom:1rem;
}
.address i{
	margin-right: 4px;
}
.flex{
	display: flex;
}
.valign{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactpage .col-md-6:nth-child(2){
	background: #ccc;
}
.contactform .heading , .main-heading{
	color:#254;
	text-align:center;
	font-family:verdana;
}